*{
    font-family: 'Jost', sans-serif;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;

}
.alert{
  position: fixed;
  top: 0;
  margin-top: 20px;
  border-radius: 50px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

}
.inputContainer i {
    position: absolute;
}
.icon {
    padding: 20px;
    width: 70px;
    text-align: left;
 }
.Field {
    padding-left: 50px;
    border-radius: 10px;
    margin-top: 10px;
}
.main-div{
    width: 80%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
}
.left-signup{
    background-image:url('https://cdn.pixabay.com/photo/2017/07/31/11/44/glass-2557577_960_720.jpg');
    padding-top: 27%;
 
}
.left-signup > button {
    margin-top: 30px;
    text-decoration: none;
    border: none;
    background-color: #4f99f7;
    color: white;
    width: 120px;
    padding: 5px;
    border-radius: 8px;
}

 
